*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    color: rgb(248, 179, 231);
}

.background{
    background-color:rgb(193, 193, 190) ;
    height: 100vh;
    padding-top: 1px;
}

.title{
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
    font-weight: 600;
}

.start{
    line-height: 2em;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    margin-bottom: 2%;
}
.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.cell{
    border: 1px solid black;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset{
    background-color: rgb(248, 179, 231);
    color: black;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.message{
    text-align: center;
}